@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* For tailwind utilities */
@layer utilities {
  .text {
      color: #fbfaf9;
  }

  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinners {
    -moz-appearance: textfield; /* Firefox */
  }
}

/* For tailwind components */
@layer components {
  .buttons {
    @apply
      bg-[#1d2733] 
      z-4 
      text-[#fbfaf9]
      rounded-2xl 
      hover:bg-[#354149] 
      transition-all;
  }

  .input {
    @apply
      bg-[#212530] 
      block 
      grow 
      text-base 
      pl-1
    placeholder:text-gray-500 
      focus:outline-none 
      sm:text-sm/6 
      outline-1 
      -outline-offset-1 
      outline-gray-600 
      rounded-md;
  }
  
  .containers {
    border-radius: var(--radius-lg);
    background-color: #131a23;
    background: linear-gradient(180deg,rgba(19, 26, 35, 1) 0%, rgba(23, 36, 48, 1) 100%);
  }
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
